.idea/*
workspace.xml
*.iml
target/*
BatchClient/target/*
common/target/*
Stockticker/target/*
StocktickerRest/target/*
StockTickerSOAP/target/*
TransactionLogger/target/*
TranslogProducer/target/*
TranslogJMSProducer/target/*
schemas/target/*
testutils/target/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.lst
